@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

html {
  scroll-behavior: smooth;
}

.experimental-line {
  position: fixed;
}

.node {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #333333;
  border-radius: 50%;
  transition: all 0.3s ease-out;
}

.node.left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.node.right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.node.filled {
  background-color: white;
}

.node.filled::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  transform: translate(-50%, -50%) scale(1);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.7;
  }
  70% {
    transform: translate(-50%, -50%) scale(2.5);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    box-shadow: 0 0 10px 8px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0);
  }
}

.section {
  transition: box-shadow 0.3s ease, opacity 0.3s ease;
  box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.95);
  opacity: 0.1;
}

.section.visible {
  box-shadow: none;
  opacity: 1;
}

.last-section {
  opacity: 1;
  box-shadow: none;
}

.last-section.visible-last {
  box-shadow: none;
  opacity: 1;
}

.contact-button {
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.05s ease, transform 0.05s ease;
  transform: translate(-50%, -50%);
  color: white;
}

.contact-button:hover {
  color: #333333;
}

.project-node {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #333333;
  border-radius: 50%;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.project-node:hover,
.project-node.active {
  width: 20px;
  height: 20px;
  background-color: white;
}

.project-node:hover::after,
.project-node.active::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  transform: translate(-50%, -50%) scale(1);
  animation: pulse 1.5s infinite;
}

.project-info {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(51, 51, 51, 0.9);
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  z-index: 10;
  pointer-events: none;
}

.project-info h3 {
  margin: 0 0 5px;
  font-size: 16px;
}

.project-info p {
  margin: 0;
  font-size: 14px;
}