@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --line-position: 70%;
  --fill-percentage: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
}

html {
  scroll-behavior: smooth;
}

.vertical-line {
  position: fixed;
  top: 0;
  left: var(--line-position);
  width: 2px;
  height: 100vh;
  background-color: #333333;
  overflow: visible;
}

.vertical-line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--top-fill-percentage, 0%);
  background-color: white;
  transition: height 0.3s ease-out;
}

.vertical-line::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: var(--bottom-fill-percentage, 0%);
  background-color: white;
  transition: height 0.3s ease-out;
}

.scrolling-links {
  position: fixed;
  top: 0;
  left: calc(var(--line-position) - 200px);
  height: 100vh;
  width: 200px;
  pointer-events: none;
}

.link-container {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  pointer-events: auto;
}

.link-container.visible {
  opacity: 1;
  transform: translateX(0);
}

.link-line {
  width: var(--line-width, 0%);
  height: 2px;
  background-color: #fff;
  margin-right: 10px;
  transition: width 0.5s ease-out;
}

.link-container.visible .link-line {
  width: var(--line-width, 100%);
}

.section {
  opacity: 0.3;
  transition: opacity 0.5s ease-out;
  position: relative;
}

.section.visible {
  opacity: 1;
}

.diagonal-line {
  position: absolute;
  top: 25%;
  left: calc(var(--line-position) - 15%);
  width: 15%;
  height: 2px;
  background-color: #333333;
  transform-origin: right center;
  transform: rotate(-45deg);
  overflow: visible;
}

.diagonal-line::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: var(--fill-percentage, 0%);
  height: 100%;
  background-color: white;
  transition: width 0.3s ease-out;
}

.diagonal-line-node {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  width: 14px;
  height: 14px;
  background-color: #333333;
  border-radius: 50%;
}

.diagonal-line-node.filled {
  background-color: white;
}

.diagonal-line-node-left {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-50%, 50%);
  width: 14px;
  height: 14px;
  background-color: #333333;
  border-radius: 50%;
}

.diagonal-line-node-left.filled {
  background-color: white;
}

.diagonal-line-node-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  width: 14px;
  height: 14px;
  background-color: #333333;
  border-radius: 50%;
}

.diagonal-line-node-right.filled {
  background-color: white;
}

.diagonal-line-node-left,
.diagonal-line-node-right {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #333333;
  border-radius: 50%;
  transition: background-color 0.3s ease-out;
}

.diagonal-line-node-left {
  left: 0;
  bottom: 0;
  transform: translate(-50%, 50%);
}

.diagonal-line-node-right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.diagonal-line-node-left.filled,
.diagonal-line-node-right.filled {
  background-color: white;
}

.diagonal-line-node-left.filled::after,
.diagonal-line-node-right.filled::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  transform: translate(-50%, -50%) scale(1);
  animation: pulse 1.5s infinite;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.vertical-line::before {
  box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.2);
}

.diagonal-line::before {
  box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.2);
}

.horizontal-line {
  position: fixed;
  width: 8vw;
  height: 2px;
  background-color: #333333;
  overflow: visible;
}

.horizontal-line::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: var(--fill-percentage, 0%);
  height: 100%;
  background-color: white;
  transition: width 0.3s ease-out;
}

.horizontal-line-node {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  background-color: #333333;
  border-radius: 50%;
  transition: background-color 0.3s ease-out;
}

.horizontal-line-node.filled {
  background-color: white;
}

.horizontal-line-node.filled::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  transform: translate(-50%, -50%) scale(1);
  animation: pulse 1.5s infinite;
}

.horizontal-line::before {
  box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.2);
}

.middle-vertical-line {
  position: absolute;
  left: 25%;
  right: calc(75% - 2px);
  top: 72vh;
  bottom: -2vh;
  background-color: #333333;
  overflow: visible;
}

.middle-vertical-line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--fill-percentage, 0%);
  background-color: white;
  transition: height 0.3s ease-out;
  box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.2);
}

.middle-vertical-line-node-top,
.middle-vertical-line-node-bottom {
  position: absolute;
  left: 50%;
  width: 14px;
  height: 14px;
  background-color: #333333;
  border-radius: 50%;
  transition: background-color 0.3s ease-out;
  transform: translate(-50%, -50%);
}

.middle-vertical-line-node-top {
  top: 0;
}

.middle-vertical-line-node-bottom {
  bottom: 0;
  transform: translate(-50%, 50%);
}

.middle-vertical-line-node-top.filled,
.middle-vertical-line-node-bottom.filled {
  background-color: white;
}

.middle-vertical-line-node-top.filled::after,
.middle-vertical-line-node-bottom.filled::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  transform: translate(-50%, -50%) scale(1);
  animation: pulse 1.5s infinite;
}

.middle-vertical-line::before {
  box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.2);
}

.middle-horizontal-line {
  position: absolute;
  left: 25%;
  right: calc(75% - 16vw);
  top: 87vh;
  bottom: calc(13vh - 2px);
  background-color: #333333;
  overflow: visible;
}

.middle-horizontal-line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: var(--fill-percentage, 0%);
  height: 100%;
  background-color: white;
  transition: width 0.3s ease-out;
  box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.2);
}

.middle-horizontal-line-node-left,
.middle-horizontal-line-node-right {
  position: absolute;
  top: 50%;
  width: 14px;
  height: 14px;
  background-color: #333333;
  border-radius: 50%;
  transition: background-color 0.3s ease-out;
  transform: translate(-50%, -50%);
}

.middle-horizontal-line-node-left {
  left: 1px;
  transform: translate(-50%, -50%);
}

.middle-horizontal-line-node-right {
  right: 0;
  transform: translate(50%, -50%);
}

.middle-horizontal-line-node-left.filled,
.middle-horizontal-line-node-right.filled {
  background-color: white;
}

.middle-horizontal-line-node-left.filled::after,
.middle-horizontal-line-node-right.filled::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  transform: translate(-50%, -50%) scale(1);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.7;
  }
  70% {
    transform: translate(-50%, -50%) scale(2.5);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

.second-diagonal-line {
  position: absolute;
  left: calc(25% + 16vw);
  top: 87vh;
  width: 32.8vw;
  height: 2px;
  background-color: #333333;
  transform-origin: left center;
  transform: rotate(45deg);
  overflow: visible;
  z-index: 10;
}

.second-diagonal-line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: var(--fill-percentage, 0%);
  height: 100%;
  background-color: white;
  transition: width 0.3s ease-out;
  box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.2);
}

.second-diagonal-line .diagonal-line-node-left,
.second-diagonal-line .diagonal-line-node-right {
  position: absolute;
  top: 50%;
  width: 14px;
  height: 14px;
  background-color: #333333;
  border-radius: 50%;
  transition: background-color 0.3s ease-out;
}

.second-diagonal-line .diagonal-line-node-left {
  left: 0;
  transform: translate(-50%, -50%);
}

.second-diagonal-line .diagonal-line-node-right {
  right: 0;
  transform: translate(50%, -50%);
}

.second-diagonal-line .diagonal-line-node-left.filled,
.second-diagonal-line .diagonal-line-node-right.filled {
  background-color: white;
}

.second-diagonal-line .diagonal-line-node-left.filled::after,
.second-diagonal-line .diagonal-line-node-right.filled::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  transform: translate(-50%, -50%) scale(1);
  animation: pulse 1.5s infinite;
}