@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  ::selection {
    @apply bg-white text-black;
  }
  
  ::-moz-selection {
    @apply bg-white text-black;
  }
}

html, body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

.experimental-line {
  position: fixed;
}

.node {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #333333;
  border-radius: 50%;
  transition: all 0.3s ease-out;
  transform: translate(-50%, -50%) translateZ(0);
  will-change: transform, background-color;
}

.node.left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.node.right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.node.filled {
  background-color: white;
}

.node.filled::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  transform: translate(-50%, -50%) scale(1);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.7;
  }
  70% {
    transform: translate(-50%, -50%) scale(2.5);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    box-shadow: 0 0 10px 8px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0);
  }
}

.section {
  transition: box-shadow 0.3s ease, opacity 0.3s ease;
  box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.95);
  opacity: 0.1;
  will-change: opacity, box-shadow;
}

.section.visible {
  box-shadow: none;
  opacity: 1;
}

.last-section {
  opacity: 1;
  box-shadow: none;
}

.last-section.visible-last {
  box-shadow: none;
  opacity: 1;
}

.contact-button {
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.05s ease, transform 0.05s ease;
  transform: translate(-50%, -50%);
  color: white;
}

.contact-button:hover {
  color: #333333;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: white transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 2px;
}